<h1>Modifier la Réclamation #{{ reclamation.id }}</h1>

{{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
    {{ form_widget(form) }}

<button type="submit" class="btn btn-success">
    Sauvegarder
</button>
{{ form_end(form) }}
